.calender {
    display: grid;
    grid-template-columns: 412px 1fr;
    background-color: #f8f7fc;
    min-width: 1700px;
    min-height: 100%;

    .calender-container {
        div.fc-header-toolbar.fc-toolbar {
            background-color: #d8e5f0;
            border-radius: 15px 15px 0 0;
            padding: 20px;
        }
    }
}
